body {
  margin: 0;
  background-color: #1C1C1C;
}

.wrapper {
  max-width: 1200px;
  height: 100vh;
  padding: 0 20px;
  margin: auto;
  text-align: center;

  color: #ffffff;
}

.title {
  margin: 0;
  padding: 20px 0;
}

.textarea,
.keyboard {
  width: 100%;
}

.textarea {
  height: 30vh;
  margin-bottom: 30px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  background-color: #36454f;
  border-radius: 10px;
  width: 1200px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
    gap: 10px;

    &:first-child {
      margin-top: 15px;
    }

    &:last-child {
      margin-bottom: 15px;
    }

  }

  &__key {
    cursor: pointer;
    background-color: #36454f;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    width: 60px;
    flex-shrink: 0;

    &:hover {
      background-color: #1c1c1c;
    }

    &--Backspace {
      width: 209px;
    }

    &--Tab,
    &--Del {
      width: 96.5px;
    }

    &--CapsLock {
      width: 128px;
    }

    &--Shift {
      width: 171px;
    }

    &--Ctrl {
      width: 96.5px;
    }

    &--Enter {
      width: 214px;
    }

    &-- {
      width: 505px;
    }
  }
}