body {
  margin: 0;
  background-color: #1C1C1C;
}

.wrapper {
  max-width: 1200px;
  height: 100vh;
  padding: 0 20px;
  margin: auto;
  text-align: center;

  color: #ffffff;
}

.title {
  margin: 0;
  padding: 20px 0;
}

.textarea,
.keyboard {
  width: 100%;
}

.textarea {
  padding: 15px;
  height: 30vh;
  margin-bottom: 30px;
  font-size: 26px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  background-color: #36454f;
  border-radius: 10px;
  width: 1200px;
  font-size: 22px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
    gap: 10px;

    &:first-child {
      margin-top: 15px;
    }

    &:last-child {
      margin-bottom: 15px;
    }

  }

  &__key {
    cursor: pointer;
    background-color: #36454f;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    width: 60px;
    flex-shrink: 0;
    transition: 0.3s;

    &:hover {
      background-color: #1c1c1c;
      opacity: 0.5;
    }

    &:active,
    &--active {
      background-color: #1c1c1c;
      border-radius: 100px;
      opacity: 1;
    }

    &.Backspace {
      width: 209px;
    }

    &.Tab,
    &.Delete {
      width: 96.5px;
    }

    &.CapsLock {
      width: 128px;
    }

    &.ShiftLeft,
    &.ShiftRight {
      width: 171px;
    }

    &.ControlLeft,
    &.ControlRight {
      width: 96.5px;
    }

    &.Enter {
      width: 214px;
    }

    &.Space {
      width: 505px;
    }
  }
}